.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  padding: 92px 48px 0;
  max-width: calc(100% - 48px*2);
}

@media screen and (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 88px 24px 0;
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (min-width: 1280px) and (max-width: 768px) {
  .gallery {
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 12px;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: calc(100% - 16px*2);
  }
}
