.lead__title {
  text-align: center;
  margin: 0 auto; /*сброшены заданные браузером внешние отступы и отцентровано по горизонтали*/
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

@media screen and (max-width: 425px) {
  .lead__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}
