.place__paragraph {
  margin: 0; /*сброшены заданные браузером внешние отступы*/
  padding-bottom: 27px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding-bottom: 25px;
    font-size: 18px;
  }
}
