.nav__links {
  list-style-type: none; /*убраны маркеры ненумерованного списка*/
  display: flex; /*элементы выстроены друг за другом*/
  margin: 0; /*сброшены заданные браузером внешние отступы*/
  padding-left: 0; /*сброшен заданный браузером внутренний отступ*/
}
