.intro {
  padding: 92px 48px 0;
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-top: 92px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 64px 16px 0;
  }
}
