.lead__subtitle {
  text-align: center;
  margin: 0 auto; /*сброшены заданные браузером внешние отступы и отцентровано по горизонтали*/
  max-width: 640px;
  padding-top: 32px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
 }

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    padding-top: 16px;
  }
}
